@font-face {
    font-family: 'Involve';
    src: url('../fonts/Involve-Bold.woff2') format('woff2'),
        url('../fonts/Involve-Bold.woff') format('woff'),
        url('../fonts/Involve-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('../fonts/Involve-Regular.woff2') format('woff2'),
        url('../fonts/Involve-Regular.woff') format('woff'),
        url('../fonts/Involve-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('../fonts/Involve-SemiBold.woff2') format('woff2'),
        url('../fonts/Involve-SemiBold.woff') format('woff'),
        url('../fonts/Involve-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('../fonts/Involve-Medium.woff2') format('woff2'),
        url('../fonts/Involve-Medium.woff') format('woff'),
        url('../fonts/Involve-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

